@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection
{
    background-color: #EA8E30;
    color: #05386B;
}

::-webkit-scrollbar
{
    width: 8px;
}
::-webkit-scrollbar-track
{
    background: #05386B;
}
::-webkit-scrollbar-thumb
{
    background-color: #EA8E30;
    border-radius: 8px;
}

body {
  min-height: 100vh;
  background: #5CDB96;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.hlogo {
  width: 170px;
  margin-left: 80px;
  cursor: pointer;
}



/* Buttons css */

.clipcy {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
  gap: 20px;
}

.clips {
    width: 130px;
    height: 50px;
    border: none;
    background-image: linear-gradient(#05386B 0 0);
    clip-path: polygon(100% 16%, 0% 0, 3% 100%, 95% 86%);
    cursor: pointer;
}

.clips::before {
    width: 120px;
    height: 45px;
    background-image: linear-gradient(#5CDB96 0 0);
    clip-path: inherit;
    content: "Sign up";
    font-size: 18px;
    color: #05386B;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.clips:hover::before {
    background-image: linear-gradient(#05386B 0 0);
    clip-path: polygon(0 16%, 100% 0, 95% 100%, 3% 86%);
    box-shadow: 0px 15px 20px #05386B;
    color: #5CDB96;
    transition: color .5s;
  }

  .clips:hover {
    background-image: linear-gradient(#05386B 0 0);
    clip-path: polygon(0 16%, 100% 0, 95% 100%, 3% 86%);
    box-shadow: 0px 15px 20px #05386B;
    transform: translateY(7px);
  }

.clips2 {
    width: 130px;
    height: 50px;
    border: none;
    background-image: linear-gradient(#05386B 0 0);
    clip-path: polygon(0 16%, 100% 0, 95% 100%, 3% 86%);
    font-size: 18px;
    color: #5CDB96;
    font-weight: 500;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    cursor: pointer;
}

.clips2::before {
    width: 120px;
    height: 45px;
    background-image: linear-gradient(#05386B 0 0);
    clip-path: inherit;
    content: "Sign in";
    font-size: 18px;
    color: #5CDB96;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.clips2:hover::before {
    background-image: linear-gradient(#5CDB96 0 0);
    clip-path: polygon(100% 16%, 0% 0, 3% 100%, 95% 86%);
    color: #05386B;
    transition: color .5s;
  }

  .clips2:hover {
    background-image: linear-gradient(#05386B 0 0);
    clip-path: polygon(100% 16%, 0% 0, 3% 100%, 95% 86%);
    box-shadow: 0px 15px 20px #05386B;
    transform: translateY(7px);
  }


/* buttons-end */

/* navigation responsive */

nav{
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  height: 50px;
  /* background: #3E8DA8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
  z-index: 99;
}
nav .navbar{
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
.navbar .logo a{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #05386B;
  font-size: 17.5px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #05386B;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #5CDB96;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 2px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #05386B;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
  /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #05386B;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #05386B;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #05386B;
}
.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #05386B;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
}
@media (max-width:800px){
  nav{
    /* position: relative; */
  }

  nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 80px;
    background: #5CDB96;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
    margin-top: -20px;
  }

  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  #fff;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #05386B;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #05386B;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  /* box-shadow: none; */
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
.navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }

    nav .navbar {
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
    }

    .hlogo {
      width: 150px;
      margin: 0;
      margin-top: 20px;

    }

    header {
      display: none;
    }

    .container1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .container1-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }

    .container1-right {
      margin-top: -130px;
      margin-left: 50px;
    }

    .lil-ana {
      width: 300px;
    }

    .container2 {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    .container2-right {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .container2-middle h1 {
      writing-mode:vertical-lr;
    }

    .container2-left img {
      width: 300px;
      margin-top: 50px;
    }

    .container2-middle h1 {
      writing-mode: horizontal-tb;
      font-size: 16px;
    }

    .container3 h1 {
      font-size: 22px;
    }

    .com-img {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      margin-top: 80px;
    }

    .container51 {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .container6 p {
      font-size: 15px;
    }

    .container61 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    .institutions-img {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
    footer {
      margin-top: 50px;
      min-width: 99vw;
    }

    .container6 {
      padding-left: 35px;
    }

    
}
@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
}

/* min width screen */

@media screen and (min-width:801px) {
    .search-box {
      margin-top: 25px;
    }

    .logo {
      display: none;
    }

    .container1-left {
      margin-top: 130px;
    } 

    .container2-left img {
      width: 600px;
      margin-top: -50px;
    }

    .container2-middle h1 {
      writing-mode: vertical-rl;
      font-size: 22px;
    }

    .container4 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 130px;
      margin-left: 15px;
      margin-right: 15px;
    }

    .container44 {
      margin-top: 60px;
    }

    .container42 {
      margin-top: 60px;
    }

    .container6 p {
      font-size: 18px;
    }

    .container61 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }

    footer {
      margin-top: 150px;
      min-width: 99vw;
    }


}

/* end */

.container1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pric {
  color: #05386B;
  background-color: #EA8E30;
}

.qual {
  color: #05386B;
}

.lil-ana {
  margin-top: 150px;
}

/* .container1-left {
  margin-top: 130px;
} */

.lineh {
  width: 130px;
  height: 2px;
  background-color: #EA8E30;
  margin-bottom: 30px;
}

.h1head {
  margin-bottom: 40px;
}

.container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

/* .container2-left img {
  width: 600px;
  height: auto;
  margin-top: -50px;
} */

.container2-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 80px;
  margin-top: 50px;
  width: 40vw;
}

.container21 {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 60px;
}

.container211 img {
  width: 90px;
  height: auto;
}

.bold-numbers {
  font-size: 22px;
  font-weight: 700;
  color: #05386B;
  background-color: #EA8E30;
}

.container212 p {
  font-size: 18px;
  color: #05386B;
  font-weight: 600;
}

/* .container2-middle h1 {
  writing-mode: vertical-rl;
  font-size: 22px;
} */

.container2-middle span:nth-child(2){
  color: #05386B;
  background-color: #EA8E30;
}

.container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  padding-left: 25px;
}

.com-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 20px;
  line-height: 10px;
}

.com-img img {
  width: 150px;
}


.container-products {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 150px;

}

.product-d {
  display: flex;
  align-items: center;
  width: 90vw;
  
}

.product-d h1 {
  writing-mode: vertical-rl;
  font-size: 18px;
  color: #05386B;
  background-color: #EA8E30;
  margin-right: 10px;
}

.goodimg {
  width: 180px;
}


.alterimg {
  width: 110px;
  height: auto;
  
}

.product-d p {
  width: 250px;
}

.product1 {
  justify-content: center;
}

.product3 {
  justify-content: center;
}

.product5 {
  justify-content: center;
}





/* .container4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 130px;
  margin-left: 15px;
  margin-right: 15px;
} */

.linkdin {
  width: 20px;
  margin-top: 10px;
}

.container4-common {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  gap: 5px;
}

.container4-common p {
  font-size: 12px;
}

.container4-common h3 {
  font-size: 12px;
}

.container4-common h1 {
  font-size: 22px;
}


.profile-img img {
  width: 80px;
  height: auto;
  border-radius: 50%;
  margin-top: 20px;
 
}

.container41 {
  background-color: #EA8E30;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 2px #05386B;
}

.container42 {
  background-color: #05386B;
  padding: 5px;
  border-radius: 6px;
  /* margin-top: 60px; */
  box-shadow: 0 2px 2px #ea8d3081;
}

.container42 p {
  color: #fff;
}

.container42 h3 {
  color: #05386B;
  background-color: #EA8E30;
}

.container43 {
  background-color: #EA8E30;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 0 2px 2px #05386B;
}

.container44 {
  background-color: #05386B;
  padding: 5px;
  border-radius: 6px;
  /* margin-top: 60px; */
  box-shadow: 0 2px 2px #ea8d3081;
}

.container44 p {
  color: #fff;
}

.container44 h3 {
  color: #05386B;
  background-color: #EA8E30;
}

.container41 h1 {
  color: #05386B;
}


.container42 h1 {
  color: #EA8E30;
}

.container43 h1 {
  color: #05386B;
}

.container44 h1 {
  color: #EA8E30;
}

.container5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
  gap: 40px;
}


.container51 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.container51 div {
  color: #05386B;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border: 1px solid #05386B;
  margin-right: 30px;
  border-radius: 6px;
  box-shadow: 0 2px 2px #05386B;
  cursor: pointer;
}

.c5-active {
  background: #EA8E30;
}

.container6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 30px;
}

.container6 p {
  /* font-size: 18px; */
  font-weight: 600;
  color: #05386B;
  margin-top: -15px;
}

.container6 h2 {
  cursor: pointer;
  color: #05386B;
  font-size: 18px;
}

.container61 {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; */
  cursor: pointer;
}

.container611 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-right: 40px;
  margin-left: 20px;
  border: 3px solid #05386B;
  border-radius: 6px;
  box-shadow: 0 2px 2px #b0b6bb;
  padding: 10px;
  background: #05386B;
}

.live-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  margin-top: 30px;
}

.live-img {
  width: 320px;
  height: auto;
}

.container611 h1 {
  font-size: 18px;
  color: #fff;
}

.container611 h3 {
  font-size: 16px;
  color: #EA8E30;
}

.container611 h3 {
  font-size: 16px;
  color: #EA8E30;
}

.social img {
  width: 20px;
  margin-right: 20px;
}

.avengers {
  width: 150px;
  border-radius: 50%;
  height: auto;
  margin-top: 30px;
}

.container711 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-right: 40px;
  margin-left: 20px;
  border: 3px solid #05386B;
  border-radius: 6px;
  box-shadow: 0 2px 2px #9da6ae;
  background: #fff;
  width: 320px;
  background: #05386B;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container711 h1 {
  font-size: 22px;
  color: #fff;
}

.container711 h3 {
  font-size: 18px;
  color: #EA8E30;
  font-weight: 500;
}



.institutions-img img {
  width: 100px;
  margin-right: 50px;
  margin-top: 30px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  background: #05386B;
  /* margin-top: 150px; */
  justify-content: space-around;
  min-height: 500px;
  /* min-width: 99vw; */
}


.left {
  margin-left: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 300px;

}

.left a {
  color: #EA8E30;
  text-decoration: none;  
}

.left p {
  color: #fff;
}

.middle1 ul li {
  list-style: none;
  font-size: 16px;
  margin: 20px;
}

.middle1 ul li {
  list-style: none;
  font-size: 16px;
  margin: 20px;
}

.middle2 ul li {
  list-style: none;
  font-size: 16px;
  margin: 20px;
}

.right ul li {
  list-style: none;
  font-size: 16px;
  margin: 20px;
}

.middle1 ul li a {
  text-decoration: none;
  color: #fff;
}

.middle1 ul li a {
  text-decoration: none;
  color: #fff;
}

.middle2 ul li a {
  text-decoration: none;
  color: #fff;
}

.right ul li a {
  text-decoration: none;
  color: #fff;
}

footer div {
  margin-top: 30px;
}

.right {
  margin-top: 80px;
}

.middle1 {
  margin-top: 80px;
}

.middle2 {
  margin-top: 80px;
}

.fsocial {
  width: 40px;
  margin-right: 10px;
  margin-left: 10px;
}

.isoimage {
  width: 70px;
  margin-left: 20px;
}

.elogo {
  width: 30px;
  margin-right: 30px;
}




